name: CI
on: [pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: macos-26

    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

      - name: Mise install
        uses: jdx/mise-action@23096c7b0b70cd99c5860e33c2eac4edf245d7da
        with:
          cache: true
          experimental: true

      - uses: Swatinem/rust-cache@11da8522bc3856a8fbc565f1d1530989c793d67d

      - name: Read Xcode version
        id: xcode_version
        run: echo "XCODE_VERSION=$(cat .xcode-version)" >> $GITHUB_ENV

      - name: Setup Xcode using .xcode-version
        uses: maxim-lobanov/setup-xcode@7f352e61cbe8130c957c3bc898c4fb025784ea1e
        with:
          xcode-version: ${{ env.XCODE_VERSION }}

      - name: Build
        run: mise build

      - name: Run iOS example
        run: mise ios

      - name: Run tests
        run: mise test
