name: CI
on: [pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: macos-26

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Mise install
        uses: jdx/mise-action@6f530109923c5b6065f4a65e50fde8c1b2e06462
        with:
          cache: true
          experimental: true

      - uses: Swatinem/rust-cache@5e4a76743357a1c3c57315bc1896d2c7f89d6861

      - name: Read Xcode version
        id: xcode_version
        run: echo "XCODE_VERSION=$(cat .xcode-version)" >> $GITHUB_ENV

      - name: Setup Xcode using .xcode-version
        uses: maxim-lobanov/setup-xcode@7f352e61cbe8130c957c3bc898c4fb025784ea1e
        with:
          xcode-version: ${{ env.XCODE_VERSION }}

      - name: Build
        run: mise build

      - name: Run iOS example
        run: mise ios

      - name: Run tests
        run: mise test
